include MANIFEST.in
include README*
include sos-analyzer.spec.in
include setup.py
include aux/*
include tools/*
recursive-include sos_analyzer *.py *.txt *.json *.mo
#include data/etc/sos-analyzer.d/*
